//colors
$white: #fff;
$black: #0d0d0d;
$gray: #666666;
$lightgray: #f8faf9;
$darkgray: #333333;
$bg_gray: #f2f5f4;
$green: #0f5a47;
$lightblue: #b0f7ff;

$z-fixed-menu: 100;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

// blocks
@import "blocks/promo.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/phone.scss";
@import "blocks/button.scss";
@import "blocks/benefit.scss";
@import "blocks/fixed_menu.scss";
@import "blocks/why.scss";
@import "blocks/advantage.scss";
@import "blocks/reviews.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/form.scss";
@import "blocks/order.scss";
@import "blocks/map.scss";
@import "blocks/marker.scss";

