//colors
$white: #fff;
$black: #0d0d0d;
$gray: #666666;
$darkgray: #333333;
$bg_gray: #f2f5f4;
$green: #0f5a47;
$lightblue: #b0f7ff;

$z-fixed-menu: 100;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// blocks
@import "blocks/promo.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/phone.scss";
@import "blocks/button.scss";
@import "blocks/benefit.scss";
@import "blocks/fixed_menu.scss";
@import "blocks/why.scss";
@import "blocks/advantage.scss";

