.container_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    align-items: center;
}
.contacts__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts__right{
    width: 20%;
}

.contacts__address{
    font-size: rem(21px);
    color: $extrablack;
}

@media (max-width: 768px) {
    .container_contacts {
        width: 95%;
    }
    
}

@media (max-width: 480px) {
    .container_contacts {
        flex-direction: column;
    }
    
}

