.marker {
      width: 46px;
      height: 57px;
      position: absolute; 
}

.marker__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.marker--1 {
    top: 100px;
    right: 100px;
}

.marker--2 {
    top: 200px;
    left: 200px;
}

.marker--3 {
    top: 500px;
    left: 150px;
}

.marker--4 {
    top: 650px;
    left: 300px;
}
