.menu {

    justify-content: flex-end;
    position: relative;
    background-image: url(../img/bg/menu_left.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.container_menu {
    color: $white;
}


.title--menu {
    position: absolute;
    top: 15%;
    left: 10%;
}

.menu__accardeon {
    display: flex;

}

.menu__item {
    display: flex;
}

.menu__link {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    width: 5rem;

}

.menu__content {
    font-size: 16px;
    width: 0;
    overflow: hidden;
    background-color: rgba(47, 50, 52, 0.93);
}