.nav {
  flex: 1;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav-trigger {
  display: none;
  position: fixed;
  z-index: 999;
  top: rem(20px);
  right: rem(20px);
}

.nav-trigger__link {
  display: block;
  width: 25px;
  height: 25px;
}

.nav-trigger__badge {
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 4px;
  background-color: $white;

  &::before {
    content: "";
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: $white;
    margin-top: 10px;
    position: fixed;
  }

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: $white;
    margin-top: 20px;
    position: fixed;
  }
}

@media (max-width: 768px) {
  .nav-trigger {
    display: block;
  }

  .nav {
      height: 0;
      overflow: hidden;
  }
}
