.order {
  color: $green;
  background-image: url(../img/bg/order.png);
  background-size: cover;

  &::before {
    content: "";
    background-image: url(../img/bg/berry4.png);
    width: rem(47px);
    height: rem(48px);
    position: absolute;
    bottom: rem(226px);
    left: rem(247px);
  }

  &::after {
    content: "";
    width: rem(135px);
    height: rem(188px);
    position: absolute;
    background-image: url(../img/bg/leaf4.png);
    bottom: rem(187px);
    right: rem(15px);
  }
}

@media (max-width: 768px) {
  .order {
    font-size: rem(15px);

    &::before{
      display: none;
    }

    &::after{
      display: none;
    }
  }

  .container_order {
    width: rem(480px);
  }

  .form__elem {
    flex-direction: column;
  }

  .form__row {
    justify-content: center;
  }

}