.order {
  color: $green;
  background-image: url(../img/bg/order.png);
  background-size: cover;

  &::before {
    content: "";
    background-image: url(../img/bg/berry4.png);
    width: 47px;
    height: 48px;
    position: absolute;
    bottom: 226px;
    left: 247px;
  }

  &::after {
    content: "";
    width: 135px;
    height: 188px;
    position: absolute;
    background-image: url(../img/bg/leaf4.png);
    bottom: 187px;
    right: 15px;
  }
}
