.container_promo {
  display: flex;
}

.promo {
  background-image: url(../img/bg/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  color: $white;

  &::after {
    content: "";
    display: block;
    background: url(../img/content/berries.png) no-repeat;
    width: rem(458px);
    height: rem(339px);
    position: absolute;
    bottom: rem(-50px);
    right: rem(0px);
  }

  &::before {
    content: "";
    display: block;
    background: url(../img/content/leaf3.png) no-repeat;
    width: rem(56px);
    height: rem(100px);
    position: absolute;
    bottom: rem(-50px);
    left: rem(0px);
  }
}

.promo__title {
  font-size: rem(60px);
  font-weight: bold;
  text-transform: uppercase;
}

.promo__adv {
  font-size: rem(21px);
  margin-bottom: rem(30px);
}

.promo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(470px);
  margin-top: rem(49px);
}

.promo__item {
  margin-right: rem(4px);

  &:last-child {
    margin-right: 0;
}
}
