.promo {
  background-image: url(../img/bg/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  color: $white;

  &::after {
    content: "";
    display: block;
    background: url(../img/content/berries.png) no-repeat;
    width: 458px;
    height: 339px;
    position: absolute;
    bottom: 200px;
    right: 222px;
  }

  &::before {
    content: "";
    display: block;
    background: url(../img/content/leaf3.png) no-repeat;
    width: 56px;
    height: 100px;
    position: absolute;
    bottom: 171px;
    left: 226px;
  }
}

.promo__block {
  width: 410px;
}

.promo__title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo__adv {
  font-size: 21px;
}

.promo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  margin-top: 49px;
}

.promo__img {
  position: absolute;
  top: 130px;
  left: 775px;
}
