.slider__link {
  &::before {
    content: '';
    background-image: url(../img/icons/arrow-scroll-left.png);
    width: 15px;
    height: 31px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
  }

  &::after {
    content: '';
    background-image: url(../img/icons/arrow-scroll-right.png);
    width: 15px;
    height: 31px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
  }
}