.socials{
    display: flex;
    justify-content: space-between;
}

.social__icon {
    width: rem(21px);
    height: rem(21px);
    object-fit: cover;
}

.social__item{

    &--active .social__icon{
        background-color: $extrablack;
    }
}