.team {
  background-image: url(../img/bg/leaf3.png);
  background-position: right top;
  background-repeat: no-repeat;

  &::before {
    content: "";
    display: block;
    background-image: url(../img/bg/berry3.png);
    background-repeat: no-repeat;
    width: rem(104px);
    height: rem(111px);
    position: absolute;
    bottom: rem(-23px);
    left: rem(0px);
    z-index: 10;
  }

  &::after {
    content: "";
    display: block;
    background-image: url(../img/bg/berries3.png);
    background-repeat: no-repeat;
    width: rem(135px);
    height: rem(112px);
    position: absolute;
    top: rem(-39px);
    right: rem(0px);
  }
}

.team-members {
  display: flex;
  justify-content: space-between;
  margin-top: rem(60px);
  margin-right: rem(-20px);
}

.team-members__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: rem(20px);

  &--active .team-members__desc {
    width: 100%;
    height: auto;
  }

  &--active .team-members__job {
    width: 100%;
    height: auto;
  }

  &--active .team-members__name::after {
    background-image: url(../img/bg/arrow_up.png);
  }
}

.team-members__img-wrapper {
  width: rem(220px);
  height: rem(287px);
}

.team-members__img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-members__name {
  font-size: rem(20px);
  font-weight: 800;
  margin-top: rem(27px);
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/bg/arrow_down.png);
    width: rem(9px);
    height: rem(7px);
    top: 50%;
    right: rem(-15px);
    transform: translateY(-50%);
  }
}

.team-members__job {
  margin-top: rem(10px);
  width: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
}

.team-members__desc {
  text-align: center;
  font-weight: 300;
  color: $gray;
  margin-top: rem(9px);
  width: 0;
  height: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container_team {
    width: rem(485px);
    height: 100%;
  }

  .title--team {
    margin-top: rem(60px);
  }

  .team-members {
    flex-wrap: wrap;
    margin-top: rem(45px);
  }

  .team-members__item {
    flex-basis: 45%;
  }
}

@media (max-width: 480px) {
  .team-members { 
    justify-content: space-around;
    margin-right: 0;
  }

  .team-members__item {
    margin-right: 0;
  }

  .team-members__img-wrapper {
    width: rem(145px);
    height: rem(185px);
  }
}

