.team {
    background-image: url(../img/bg/leaf3.png);
    background-position: right top;
    background-repeat: no-repeat;

    &::before {
        content: '';
        display: block;
        background-image: url(../img/bg/berry3.png);
        background-repeat: no-repeat;
        width: 104px;
        height: 111px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    &::after {
        content: '';
        display: block;
        background-image: url(../img/bg/berries3.png);
        background-repeat: no-repeat;
        width: 135px;
        height: 112px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.team-members {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.team-members__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &:last-child {
      margin-right: 0;
  }

  &--active .team-members__desc{
      width: 100%;
  }

  &--active .team-members__job{
    width: 100%;
}

  &--active .team-members__name::after{
      background-image: url(../img/bg/arrow_up.png);
  }
}

.team-members__img-wrapper {
  width: 220px;
  height: 287px;
}

.team-members__img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-members__name {
    font-size: 20px;
    font-weight: 800;
    margin-top: 27px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/bg/arrow_down.png);
        width: 9px;
        height: 7px;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
    }
}

.team-members__job {
    margin-top: 18px;
    width: 0;
    overflow: hidden;
    text-align: center;
}

.team-members__desc {
    text-align: center;
    font-weight: 300;
    color: $gray;
    margin-top: 11px;
    width: 0;
    overflow: hidden;

}
