.why {
  background: url(../img/content/leaf.png) left center no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    display: block;
    background: url(../img/content/raspberries.png) no-repeat;
    width: rem(161px);
    height: rem(315px);
    position: absolute;
    left: rem(0px);
    bottom: rem(-111px);
    z-index: 10;
  }
}

.container_why {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__top {
  width: rem(410px);
  text-align: center;
}

.why__desc {
  margin-top: rem(20px);
}

.why__list {
  display: flex;
  justify-content: space-between;
  margin-top: rem(60px);
}

.why__item {
  position: relative;

  &::after {
    content: "";
    display: block;
    background: url(../img/icons/separator.png) no-repeat;
    width: rem(67px);
    height: rem(21px);
    position: absolute;
    top: 34%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  &:last-child::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .container_why {
    width: rem(450px);
  }

  .why__top {
    margin-top: rem(60px);
  }
  .why__list {
    flex-direction: column;
  }

  .why__item {
    &::after {
      display: none;
    }
  }
}
