.button {
  color: $white;
  background-color: $green;
  font-size: rem(19px);
  font-weight: 900;
  text-transform: uppercase;
  border-radius: rem(50px);
  padding: rem(22px);

  &--color-white {
    color: $green;
    background-color: $white;
  }

  &--shadow {
    box-shadow: rem(0px) rem(10px) rem(15px) rem(0px) #53afc3; 
  }
}
