.ingradients{
    width: 89px;
    height: 89px;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -146px;
    right: 332px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: $lightblue;

        .menu-window {
            display: block;
        }
    }

}

.ingradients__icon {
    margin-top: rem(10px);
    width: rem(55px);
    height: rem(55px);
    fill: $white;
}

.ingradients__title {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: $white;
    text-transform: uppercase;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .ingradients{
        top: 0;
        right: 0;
    }

    .ingradients__menu {
        top: 0;
    }
}
