.nav {
  flex: 1;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .nav {
      height: 0;
      overflow: hidden;
  }
}
