.phone {
    font-size: rem(24px);
    text-transform: uppercase;
    margin-left: rem(40px);

    &--left {
        margin-left: 0;
    }

    &::before {
        content: '';
        background-image: url(../img/icons/phone.png);
        display: inline-block;
        margin-right: rem(5px);
        width: rem(10px);
        height: rem(10px);
    }

    &--color--green {
        color: $green;
    }
}