.slider{
  width: 100%;
  position: relative;

}

.slider__wrapp {
  overflow: hidden;
}

.slider__list{
    height: 500px;
    position: relative;
    display: flex;
}

.slider__page-prev {
  background-image: url(../img/icons/arrow-scroll-left.png);
  width: 15px;
  height: 31px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.slider__page-next {
  background-image: url(../img/icons/arrow-scroll-right.png);
  width: 15px;
  height: 31px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
}