@function rem($px) {
    @return $px / 16px + 0rem;
}

@media (max-width: 768px) {
    .container_promo {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}


